header {
  max-width: 680px;
  margin: 0 auto 28px;
  padding: 72px 32px;
  border-radius: 8px;

  background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ),
    url("IMG_0153.jpeg");

  background-size: cover;
  background-position: center;
  color: white;
}
